.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.wrapper__list {
display: flex;
flex-direction: row;
overflow-x: auto;
padding: 20px;
gap: 10px;
}

.wrapper__add {
margin: 20px 0;
}
.missions-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
    position: relative; /* To position the create button */
}

.mission-card {
    min-width: 300px;
    flex-shrink: 0;
}

.mission-button {
    display: block;
    margin: 8px 0;
}

.create-mission-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
