.wrapper {
    padding: 20px;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
    }

    &__add {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
}